.grid-auto {
    display: grid;
    gap: var(--space-2xl);
    grid-template-columns: repeat(var(--auto-fit-or-fill), minmax(min(100%, var(--grid-width, 35rem)), 1fr));
}

.has-3-columns {
    --grid-width: 24rem;
}

.has-4-columns {
    --grid-width: 20rem;
}

.has-smaller-spacing {
    gap: var(--space-xl-2xl) var(--space-2xl);
}
