.site-header {
    color: var(--color-white);
    padding-bottom: var(--space-l-xl);
    padding-top: var(--space-l-xl);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.has-no-hero .site-header {
    position: static;
}

.admin-bar .site-header {
    top: var(--wp-admin--admin-bar--height);
}

.site-header__title::first-letter {
    color: var(--color-primary-400);
}

.is-site-nav-opened .site-header__title::first-letter {
    color: var(--color-white);
}

.site-header__title a {
    color: var(--color-white);
    font-size: var(--step-1);
    font-weight: 700;
    letter-spacing: 0.175em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 110;

    &:focus {
        outline-color: var(--color-white);
    }
}

.has-no-hero .site-header__title a {
    color: var(--color-black);
}

.site-header__logo {
    --color-logo: var(--color-white);
    height: 24px;
    width: 123px;
}

.has-no-hero .site-header__logo {
    --color-logo: var(--color-black);
}

.is-site-nav-opened .site-header__logo {
    --color-logo: var(--color-white);
}

.site-header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include media(navigation) {
        flex-flow: wrap;
    }
}
