.size-debugger {
    background-color: var(--color-black);
    bottom: 0;
    left: 0;
    min-width: 70px;
    padding: 0.5rem;
    position: fixed;
    text-align: center;
    text-transform: capitalize;

    &::after {
        color: var(--color-black);
        content: "default";
    }

    @each $name, $size in $breakpoints {
        @include media(#{$name}) {
            &::after {
                content: "#{$name}";
            }
        }
    }
}
